@{
    ViewData["Title"] = "Home Page";
}

<section id="home-about">
    <div class="container">
        <h5>Sayt haqqında</h5>
        <hr/>
        <div class="row justify-content-between">
            <div class="col-5 text-center">
                <p>
                    Bu sayt müxtəlif proqramlaşdırma dilləri və texnologiyaları, kompüterlər, mobil platformalar və İT texnologiyalarına həsr olunub. Burada müxtəlif dərsliklər və təlim materialları, məqalələr və nümunələr yerləşdiriləcək.
                    <br/><br/>
                    Saytda siz C# dili və .NET texnologiyaları ailəsi (ASP.NET, WPF, Entity Framework və s.), Java əsaslı texnologiyalar (Java SE, Android proqramlaşdırma və s.) kimi sahələrdə materiallarla tanış ola bilərsiniz. ), Python, Dart (Flutter daxil olmaqla), verilənlər bazası ilə işləmək (MS SQL Server, MySQL, MongoDB), həmçinin HTML5, AJAX, jQuery, Node.js, ExtJS, Angular, React və s. kimi WEB texnologiyaları.
                    <br/><br/>
                    Həyat bir yerdə dayanmadığından, bütün materiallar zamanın ruhuna uyğunlaşmaq və aktuallığını itirməmək üçün mümkün qədər əlavə və yenilənir.
                </p>
            </div>
            <div class="col-5">
                <img src="img/EduSoftLogo.png" width="100" height="100"/>
            </div>
        </div>
    </div>
</section>

<section id="home-vacancies" class="p-4">
    <div class="container">
        <div class="d-flex flex-row justify-content-between text-center">
            <div class="card col-3">
                <img src="img/EduSoftLogo.png" width="100%"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Loremhshdfsdhhs shdufhusdfhs husdhushdfhsfhshd shfushfusdhfushfdu sdhfusdhfhhdssds
                    </p>
                </div>
            </div>
            <div class="card col-3">
                <img src="img/EduSoftLogo.png" width="100%"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Loremhshdfsdhhs shdufhusdfhs husdhushdfhsfhshd shfushfusdhfushfdu sdhfusdhfhhdssds
                    </p>
                </div>
            </div>
            <div class="card col-3">
                <img src="img/EduSoftLogo.png" width="100%"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Loremhshdfsdhhs shdufhusdfhs husdhushdfhsfhshd shfushfusdhfushfdu sdhfusdhfhhdssds
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="home-search" class="p-5 bg-success">
    <div class="container text-center">
        <h5>Dərslik axtar</h5>
        <br/>
        <div class="d-flex flex-column align-content-center align-items-center">
            <div class="search-box col-6">
                <input type="text" class="form-control shadow-none"/>
            </div>
        </div>
    </div>
</section>